.license-card {
	padding: 1.25rem;
	margin-top: 0.8rem;
	background: var( --color-surface-2 );
	border-radius: var( --border-radius-medium );
}

.license-card__icons {
	margin-bottom: 0.8rem;
}

.license-card__icons img {
	margin-right: 10px;
}

.license-card__title {
	color: var( --color-emphasized );
	font-size: 1.25rem;
	font-weight: bold;
	line-height: 1.2;
}

.license-card__description {
	margin-top: 0.8rem;
	font-size: 0.875rem;
}

.license-card__metadata {
	display: none;
}

html.skin-citizen-dark .license-card__icons img {
	filter: invert( 1 ) hue-rotate( 180deg );
}
