/************************************************************************************
Đoạn CSS này được dùng để tùy chỉnh các liên kết sẽ trông như thế nào trong Wiki này.
************************************************************************************/

/*******************************
*CORE SETTINGS (THIẾT LẬP LÕI)*
******************************/
/* Tên Gradiant (Chỉ Admin Song Ngư và các liên kết liên quan tới nhóm BRO) */

/* MỘT SỐ CÁC THIẾT LẬP BAO GỒM WEBKIT! CHỈ CHỈNH NẾU BẠN BIẾT B Ạ N  Đ A N G  L À M  G Ì */
/* Admin Song Ngư */
.text-PISCES {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#b116ec),color-stop(0.5,#ff0021),color-stop(1,#fff11e));
    background-image: -webkit-linear-gradient(left,#b116ec 0%,#ff0021 50%,#fff11e 100%);
    background-size: 1000% 1000%; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -webkit-animation: Text-Chromatic 6s linear infinite;
    color: #f88f25; /* Fallback trong trường hợp trình duyệt không hỗ trợ webkit */
    white-space: nowrap;
}

/* Nhóm BRO Comics */
.text-BRO {
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#b116ec),color-stop(0.5,#ff0021),color-stop(1,#fff11e));
    background-image: -webkit-linear-gradient(left,#b116ec 0%,#ff0021 50%,#fff11e 100%);
    background-size: 1000% 1000%; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    -webkit-animation: Text-Chromatic 6s linear infinite;
    color: #f88f25; /* Fallback trong trường hợp trình duyệt không hỗ trợ webkit */
    white-space: nowrap;
}

/*******************************
*********KHU VỰC ADMIN*********
******************************/
a[href$=":Power Pisces"],
a[href$="/Power_Pisces"] {
    /* changes the color of the username */
    color: #006600 !important;
    /* makes the username bold */
    font-weight: bold !important;
    /* changes the font of the username */
    font-family: Arial !important;
    /* other CSS goes here */
}
