/****************************************************************
* MÃ DỰA TRÊN WIKI CHỊ EM - WIKI COOKIE RUN KINGDOM TIẾNG VIỆT! *
************ HTTPS://COOKIERUNKINGDOM.FANDOM.COM/vi *************
****************************************************************/

/* Mã dùng chung cho toàn bộ Infobox */
.portable-infobox {
    border: 2px solid var( --border-color-base );
    border-radius: var( --border-radius--small );
    margin-right: .5em;
	margin-top: .5em;
}

.pi-image-thumbnail {
	max-width: 100% !important;
}

.pi-title,
.pi-horizontal-group .pi-header {
	text-align: center;
	background-color: var( --color-primary );
	color: #e8effc;
}

.pi-title {
	border-radius: var(--border-radius--small) var(--border-radius--small) 0 0;
}

.pi-data-label,
.pi-data-value,
.pi-caption {
	white-space: pre-wrap;
}

/* Mã dùng cho hộp thông tin nhân vật */
.pi-theme-characters .pi-image {
    background-color: transparent;
    background-position: center;
    background-image: url(https://static.miraheze.org/lhmnwiki/1/1e/Infobox_BG.png);
    background-size: cover;
}
