.home-header {
	position: relative;
	margin-top: -2rem;
	margin-bottom: 1rem;
	padding-top: 6rem;
	padding-bottom: 6rem;
	clear: both;
	overflow: hidden; /* Prevent circular inscription from affecting element size */
	pointer-events: none !important; /* So that you can click elements overlap with the header */
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.home-header:before {
    content: '';
	position: absolute;
	inset: 0;
	background-image: url(https://static.wikitide.net/lhmnwiki/5/5c/12_zodiac_circle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 0.1;
	filter: var(--filter-invert);
	pointer-events: none;
	animation: spin 60s infinite linear;
}

.home-header__title {
	position: relative;
    margin-top: 2.5rem;
    width: 420px;
    max-width: 100%;
    padding-top: 0.75rem;
}

.home-header__title img {
    width: 100%;
    height: 100%;
    filter: var(--filter-invert);
}

.home-header__subtitle {
	margin-top: var( --space-xxs );
	font-size: var( --font-size-small );
}

.home-header__search {
	align-items: center;
	background-color: var(--color-progressive);
	border-radius: var(--border-radius-pill);
	color: var(--color-inverted-progressive);
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	font-weight: var(--font-weight-medium);
	gap: 0.5rem;
	line-height: 1;
	margin-top: 1rem;
	padding: 1rem 2rem;
	user-select: none;
	pointer-events: auto !important;
}

.home-header__search:before {
	content: '';
	width: 1rem;
	height: 1rem;
	mask-image: url(https://static.wikitide.net/lhmnwiki/c/c5/WikimediaUI-Search.svg);
	mask-size: contain;
	background-color: currentColor;
	display: block;
}

/* Keyboard hint */
@media (hover: hover) {
	.home-header__search:after {
		content: '/';
		margin-top: -2px;
		margin-bottom: -2px;
		margin-left: 2px;
		width: 18px;
		height: 18px;
		display: flex;
		background-color: var(--tg-color-inverted-progressive);
		color: var(--tg-color-progressive);
		border-radius: var(--tg-border-radius-small);
		line-height: 1;
		align-items: center;
		justify-content: center;
		font-size: 10px;
		font-weight: 900;
		opacity: 0.6;
	}
}

.home-header__search:hover {
	background-color: var(--color-progressive--hover);
}

.home-header__search:active {
	background-color: var(--color-progressive--active);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
