#home-featured {
	overflow: hidden;
}

#home-featured .home-card__background a {
	display: block;
	height: 100%;
}

#home-featured .home-card__background:after {
	top: unset;
	height: 60%;
	background: linear-gradient( to top, #000, transparent );
}

#home-featured .home-card__foreground {
	justify-content: flex-end;
}
